a {
	border-bottom: 2px solid currentcolor;
	transition: .5s all;
	
	&:hover {
		border-bottom: 2px solid $color__primario;
		color: $color__primario;
	}
}

.filelink {
	padding: 20px 15px;
	border: 0;
	background: $color__secundario;
	margin: 1em 0;
}
