.main-navigation {
	//background-color: $color__moradito;

	.menu-toggle {
		//color: $color__body-text;
	}

	.main-nav {
		//background-color: #f4f4f4;
		ul {
			li {
				a {
					//color: #fff;

					&:hover {
						background-color: $color__secundario;
						opacity: 1;
						color: $color__body-text;
					}
				}
			}

			li[class*="current-menu-"] > a,
			li[class*="current-menu-"] > a:hover,
			li[class*="current-menu-"].sfHover > a {
				background-color: $color__secundario;
				color: inherit;
			}

			li:hover > a,
			li:focus > a,
			li.sfHover > a {
				background-color: $color__secundario;
			}

			ul {

				li[class*="current-menu-"] > a:hover,
				li[class*="current-menu-"].sfHover > a,
				li:focus > a,
				li.sfHover > a,
				li:hover > a {
					background-color: $color__secundario;
					opacity: .9;
					color: $color__body-text;
				}

				li[class*="current-menu-"] > a {
					background-color: $color__azul;
					opacity: .9;
				}
			}
		}
	}
}


button.menu-toggle:hover, button.menu-toggle:focus, .main-navigation .mobile-bar-items a, .main-navigation .mobile-bar-items a:hover, .main-navigation .mobile-bar-items a:focus {
	color: $color__body-text;
}
