/************************************************************************/
// http://type-scale.com/?size=17&scale=1.333&text=A%20Visual%20Type%20Scale&webfont=&font-family=%27Helvetica%27%2C%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333
/************************************************************************/
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

$headings: 'Varela Round', Helvetica, serif;;;

// html {font-size: 1.063em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: $headings;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}